/*CSS for my demonstration project*/

header{
    color: rgb(215, 223, 143);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
h2{
    margin-top: 30px;
    color: rgb(215, 223, 143);
}
.Adress{
   color: rgb(215, 223, 143);
   justify-content: left;}

nav{
    background-color: #0a331a ;
    height: 35px;
    padding-bottom: 25px;
 }

 nav ul {
    list-style: none; 
    padding-top: 8px; 
 }
 nav li {
    display: inline;
 }
 nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 50px;
 }

 footer {
   margin-top: 50px;
   clear: both;
   background-color: #0a331a ;
   color: white;
   height: 30px;
   text-align: center;
}
footer a {
   text-decoration: none;
   color: white;
   margin-left: 20px;
}
   
   .index,
   .about,
   .checkout,
   .register{
      background-image: url("../img/Rifle.jpg");
      background-size: cover;
   }

    .Firearms{
      background-color: black;
    }
   .Rules{
      font-weight: bolder;
      color: white;
   }
  .rules-list{
   color: rgb(215, 223, 143);
   font-size: 20px;
  }
  .Merch,
  .Firearm-collection{
   color: rgb(215, 223, 143);
   font-size: 25px;
   text-align: center;
   margin-top: 40px;
  }
   .reminton,
   .Ruger,
   .Browning{
      width: 400px;
      display: inline-block;
      margin-left: 100px;
   }
   
   .Discription{
      color: white;
      font-weight: bolder;
   }
   
   .Clay-shooting,
   .reminton-22{
      width: 300px;
      display: inline-block;
      margin-left: 100px;
      margin-top: 50px;
}

.Register{
   color: black;
   font-weight: bolder;
   background-color: #0b6b30;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
   padding-right: 5px;
   border-radius: 6px;
   cursor: pointer;
}

.Member{
   margin-top: 100px;
}
.Membership{
   color: white;
   font-size: 25px;
   font-weight: bolder;
}

table,th,td{
   border:1px solid rgb(215, 223, 143);
   width: 500px;
   margin-top: 50px;
   color: white;
   font-weight: bolder;
}

td{
   height: 100px;
   vertical-align: middle;
}
.image_right{
   float: right;
   margin-left: 10px;
   margin-bottom: 10px;

}
.image_left{
   float: left;
   margin-left: 10px;
   margin-bottom: 10px;
}
img.Item{
   transition: transform 0.25s ease;
}

img:hover.Item{
   -webkit-transform: scale(2);
   transform: scale(5) translateX(50%);
}
.submit{
   border: none;
   border-radius: 3px;
   background-color: #0a331a;
}

.street,
.post-code,
.s-number,
.suburb,
.last-name,
.name{
   display: inline-block;

}

.name-gender,
.location{
   margin-top: 20px;
}
.log-register{
   color: white;
   margin-left: 5px;
}

.table{
display: inline-block;
}

.dis{
   display: inline-block;
   margin-left: 40px;
   width: 400px;
   vertical-align: top;
   margin-top: 20px;
}

.Reset,
.input-b{
   background-color: #0a331a;
   width: 100px;
   cursor: pointer;
   color: rgb(215, 223, 143);
   font-weight: bolder;
}
.input-reset{
   margin-top: 50px;
}